.search{
      background-color:black;
      color:white;
      margin-left:590px;
      margin-top:9px;
      padding:2px;
      padding-left:50px;
      padding-right:20px;
      font-size:23px;
      border-top-style: none;
      border-left-style: none;
      border-right-style: none;

      outline:none; 
      
      
}